<div class="first_section">
    <div class="description">
        <h1 class="title">Designer, Front-end Developer & Mentor</h1>
        <h2 class="sub_title">I design and code beautifully simple things, and I love what I do.</h2>
    </div>
    <div class="avatar">
        <img src="assets/images/avatar.svg">
    </div>
    <div class="pc">
        <img src="assets/images/pc.svg">
    </div>
</div>

<div class="second_section">
    <div class="about_me_container">
        <div class="about_me">
            <h1 class="title">Hi, I’m João. Nice to meet you.</h1>
            <h2 class="sub_title">Since beginning my journey as a freelance designer nearly 10 years ago, I've done remote work for agencies, consulted 
            for startups, and collaborated with talented people to create digital products for both business and consumer use. I'm quietly confident, 
            naturally curious, and perpetually working on improving my chops one design problem at a time.</h2>
        </div>
    </div>
</div>

<div class="third_section">
    <div class="columns">
        <div class="first_column">
            <img class="icon" src="assets/images/designer.svg">
            <h1 class="title">Designer</h1>
            <p class="text">I value simple content structure, clean design patterns, and thoughtful interactions.</p>
            <p class="sub_title">Things I enjoy designing:</p>
            <p class="text">UX, UI, Web, Mobile, Apps, Logos</p>
            <p class="sub_title">Design Tools:</p>
            <ul class="list">
                <li>Balsamiq Mockups</li>
                <li>Figma</li>    
                <li>Invision</li>    
                <li>Marvel</li>    
                <li>Pen & Paper</li>    
                <li>Sketch</li>
                <li>Webflow</li>
                <li>Zeplin</li>
            </ul>
        </div>
        <div class="second_column">
            <img class="icon" src="assets/images/frontend.svg">
            <h1 class="title">Front-end Developer</h1>
            <p class="text">I like to code things from scratch, and enjoy bringing ideas to life in the browser.</p>
            <p class="sub_title">Languages I speak:</p>
            <p class="text">HTML, Pug, Slim, CSS, Sass, Less</p>
            <p class="sub_title">Design Tools:</p>
            <ul class="list">
                <li>Balsamiq Mockups</li>
                <li>Atom</li>
                <li>Bitbucket</li>
                <li>Bootstrap</li>
                <li>Bulma</li>
                <li>Codekit</li>
                <li>Codepen</li>
                <li>Github</li>
                <li>Gitlab</li>
                <li>Terminal</li>
            </ul>
        </div>
        <div class="third_column">
            <img class="icon" src="assets/images/mentor.svg">
            <h1 class="title">Mentor</h1>
            <p class="text">I genuinely care about people, and love helping fellow designers work on their craft.</p>
            <p class="sub_title">Experiences I draw from:</p>
            <p class="text">UX/UI, Product design, Freelancing</p>
            <p class="sub_title">Mentor Stats:</p>
            <ul class="list">
                <li>Balsamiq Mockups</li>
                <li>5 years experience</li>
                <li>26 short courses</li>
                <li>42 bootcamps</li>
                <li>125+ students</li>
                <li>1,400+ mentor sessions</li>
                <li>60+ group critiques</li>
                <li> 12,000+ comments</li>
            </ul>
        </div>
    </div>
</div>