.first_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.description{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description h1{
    color: black; 
    font-family: 'eurostile', sans-serif; 
    font-size: 3rem;   
    line-height: 1.125;
    text-align: center;
}

.description h2{
    color: gray; 
    font-family: 'europa', sans-serif; 
    font-size: 1.5rem; 
    font-weight: 300;
    text-align: center;
}

.avatar{
    margin-bottom: 3rem;
}

.avatar img{
    max-width: 250px;
}

.pc{
    margin-bottom: -0.7rem;
}

.pc img{
    max-width: 250px;
}

.about_me_container{
    display: flex;
    justify-content: center;
    background-color: #2069e0;
    min-height: 500px;
    padding-bottom: 6rem;
}

.about_me{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    padding-top: 7rem;
    height: 100%;
}

.about_me h1{
    color: white; 
    font-family: 'europa', sans-serif; 
    font-size: 2rem;
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center;
}

.about_me h2{
    color: white; 
    font-family: 'europa', sans-serif; 
    font-size: 1.25rem; 
    font-weight: 300; 
    line-height: 32px; 
    margin-bottom: 6rem;
    text-align: center;
}

.third_section{
    display: flex;
    justify-content: center;
}

.columns{
    display: flex;
    background-color: white;
    margin-top: -9rem;
    max-width: 1200px;
    /*width: 62%;*/
    border-radius: 20px;
    box-shadow: 0 5px 5px 0 rgb(233 240 243 / 50%), 0 0 0 1px #e6ecf8;
}

.first_column, .second_column{
    width: 33.3%;
    border-right: 1px solid #E6ECF8;
}

.third_column{
    width: 33.4%;
}

.first_column, .second_column, .third_column{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 45px;
}

.icon{
    width: 48px;
    height: 48px;
    margin-bottom: 2rem;
}

.third_section .title{
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'europa', sans-serif; 
    text-align: center;
}

.third_section .text{
    font-size: 18px;
    font-family: 'europa', sans-serif; 
    color: gray;
    text-align: center;
}

.third_section .sub_title{
    font-size: 18px;
    font-family: 'europa', sans-serif; 
    font-weight: 550;
    color: #2069e0;
    margin-top: 50px;
    margin-bottom: 8px;
    text-align: center;
}

.third_section .list{
    list-style: none;
    text-align: center;
    padding-left: 0px;
}

.third_section .list li{
    font-size: 18px;
    font-family: 'europa', sans-serif; 
    color: gray;
    text-align: center;
    line-height: 2rem;
}

.last_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 8rem;
    background-color: #2069e0;
    height: 400px;
    width: 100%;
}

.last_section .title{
    color: white; 
    font-family: 'europa', sans-serif; 
    font-size: 1.5rem;
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center;
    max-width: 320px;
    margin-bottom: 3rem;
}

.social_media{
    display: flex;  
    padding-left: 2rem;
    margin-bottom: 2rem;
}

.social_button{
    display: flex;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 100%;
    padding: 14px;
    width: 22px;
    height: 22px;
    color: white;
    transition: all .2s ease-in-out;
    margin-right: 2rem;
}

.social_button:hover{
    background: white;
    color: #2069e0;
    border: 2px solid white;
}

.last_section .text{
    font-size: 18px;
    font-family: 'europa', sans-serif; 
    color: white; 
    text-align: center;
}

@media screen and (max-width: 975px){
    .about_me{
        padding-top: 4rem;
        width: 70%; 
    }

    .about_me h1{
        font-size: 1.75rem;
    }
}

@media screen and (max-width: 735px){
    .about_me{
        padding-top: 4rem;
        width: 90%;
    }

    .about_me h1{
        font-size: 1.5rem;
    }

    .about_me h2{
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 700px){
    .columns{
        flex-direction: column;
    }

    .first_column, .second_column, .third_column{
       width: auto;
    }

    .first_column, .second_column{
        border-bottom: 1px solid #E6ECF8;
    }
}
